*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Inter', sans-serif;
    background:#f5f7fb;
}

.sidebar{
    position:fixed;
    width:260px;
    height:100vh;
    background:#111827;
    padding:20px;
    color:white;
}

.logo h2{
    margin-bottom:40px;
}

.nav-links{
    list-style:none;
}

.nav-links li{
    margin:20px 0;
}

.nav-links li a{
    color:white;
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:15px;
    padding:14px;
    border-radius:10px;
    transition:0.3s;
}

.nav-links li a:hover{
    background:#6366f1;
}

.active a{
    background:#6366f1;
}